*,::after, ::before{
    margin:0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
a{text-decoration: none; cursor: pointer;}
ul li{list-style: none;}
button{cursor: pointer;}
body{font-family: sans-serif;}
.btn{background-attachment: fixed;}
b{color: #2e2d2d;}
.center h3{font-size: 20px;}
p{
    font-family: "open sans",sans-serif;
}

.container{
    margin: auto;
    padding: 0 15px;
    max-width:1200px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    margin:0 2px;

}
.row[class^="col-"]{padding: 0 15px; flex:1 0 auto}
.row .col-1{flex-basis: 8.33%; max-width: 8.33%;}
.row .col-2{flex-basis: 16.66%; max-width: 16.66%;}
.row .col-3{flex-basis: 25%; max-width: 25%;}
.row .col-4{flex-basis: 33.33%; max-width: 33.33%;}
.row .col-5{flex-basis: 41.66%; max-width: 41.66%;}
.row .col-6{flex-basis: 50%; max-width: 50%;}
.row .col-7{flex-basis:58.33%; max-width: 58.33;}
.row .col-8{flex-basis: 66.33%; max-width: 66.33%;}
.row .col-9{flex-basis: 75%; max-width: 75%;}
.row .col-10{flex-basis: 83.33%; max-width: 83.33;}
.row .col-11{flex-basis: 91.33%; max-width: 91.33%;}
.row .col-12{flex-basis: 100%; max-width: 100%;}

.flex{display: flex; justify-content: space-between;}
.section{flex: 1 0 auto; max-width: 75%;}
.mob-btn{width: 50px; height: 40px; position: fixed; top: 10px; right: 50px; z-index: 200; background-color: #0d6efd; display: none;}
.mob-btn i{font-size: 25px;}
/* .collspan{display: inline;} */
aside{flex: 1 0 auto; max-width: 25%;}

aside{ background-color: black; color: #ffffff; height:650px; width: 100%; position:sticky; top:0;}
aside .center{display: flex; justify-content: center; margin-top: 5px;}

aside .center ul li i{background-color:lightslategray; width: 30px; height:30px; border-radius: 50%;display: flex; justify-content: center; align-items: center;}
aside .center ul li i:hover{background-color: #0d6efd;}
aside .navbar li i:hover{color: #0d6efd;}
.center ul{display: flex; width: 200px; justify-content: space-between; margin-right:33px;}
.center ul li i{font-size: 24px;}
nav{line-height: 42px; margin-left: 15px;}
aside h2{margin-bottom: 15px;}
nav .navbar li{padding-top:15px;}
nav .navbar li a{color:#ffffff; font-size: 20px;}
nav .navbar footer{padding-top: 20px; font-size: 17px;}
.main_heading{margin: 30px 0 30px 0; width: 100%;}
.main_heading h2{font-size: 32px; margin-bottom: 15px;}
.main_heading  span{background-color: #0d6efd; width: 50px; height: 5px; border: transparent; border-radius: 30px; display: block; margin:0 0 30px 3px;}

aside .small_img{background:url("../images/IMG_20221025_123215.jpg") no-repeat center; background-size: 120px 120px; height: 120px; margin-top: 20px; width: 120px; border: 8px solid #2e2d2d; border-radius: 50%;}

header{background: url("../images/cody-barnes-d2oA8t84zus-unsplash.jpg") no-repeat; background-size: 100% 650px; height: 650px; position:relative; background-attachment: fixed;}
header h1{position:absolute; top:200px; left:100px; color:red; font-size: 60px; font-family: sans-serif;}
header p{position:absolute; top:280px; left:100px; color:darkorchid; font-size: 30px; font-family: sans-serif;}

.wrap_2 .text{font-size:40px; padding-top: 30px; margin-left: 5px;}
.wrap_2 h2{color:#173b6c; font-family: sans-serif;}
.wrap_2 .tpoint{background-image: url("../images/IMG_20221025_123215.jpg"); background-repeat: no-repeat; background-size: 250px 250px; height:250px; margin-top:20px;}
.wrap_2 .tjava{font-size: 20px; padding-top: 20px;}
.wrap_2 .team{margin-top:20px; text-align: left;}
.wrap_2 .team i{font-size: 16px; color: #149ddd; line-height: 3;}
.wrap_2 .para{margin-left: 300px; font-size: 20px;}
.wrap_2 .oral{left:0; right:0; text-align: center;  margin-top: 30px; padding: 12px; line-height: 32px;}
.wrap_2 .margin{justify-content: space-between; width: 100%;}
.wrap_2 .oral h3{margin-top: 15px; font-size: 18px;}
.wrap_2 .oral i{color: #149ddd; font-size: 45px;}
.wrap_2 .oral h2{font-size: 40px; color: black;}
.wrap_2 .main_input{padding: 20px;}
.wrap_2 .main_input p{justify-content: space-between; display: flex;}
.wrap_2 .para_4 .input_full{width: 100%; height: 10px; background-color: #6b6969;}
.wrap_2 .hen1{width: 80%;height: 10px; background-color: blue;}
.wrap_2 .hen2{width: 70%; height: 10px; background-color: blue;}
.wrap_2 .hen3{width: 60%; height: 10px; background-color: blue;}
.wrap_2 .hen4{width: 50%; height: 10px; background-color: blue;}
.wrap_2 .hen5{width: 50%; height: 10px; background-color: blue;}
.wrap_2 .hen6{width: 60%; height: 10px; background-color: blue;}


.wrap_4 .java div{background-image: url("../images/img_1.jpg.jpeg"); background-repeat: no-repeat; background-size: 150px 150px; height:150px; width:150px; border-radius: 50%; margin: auto; margin-top: 20px;}

.wrap_4 .text{font-size: 20px; font-family: sans-serif;}
.wrap_4 .level{line-height: 30px;}
.wrap_4 .level i{background-color:lightskyblue; color: #0d6efd; width:50px; height:50px; border-radius: 50%; font-size: 30px; display: flex; justify-content: center; align-items: center; margin: 15px 0;}
.wrap_4 .level i:hover{background-color: #0d6efd; color: white;}
.line{border-left: 2px solid #0d6efd; padding: 0 0 20px 20px; position: relative; line-height: 35px;}
iframe{width: 570px; height: 450px;}

.line::before{content: "";
position: absolute;
width: 16px;
height: 16px;
border-radius: 50px;
left: -9px;
top: 0;
background: #fff;
border: 2px solid #173b6c;
}

@media screen and (max-width:1180px) {

        .row .col-t-5{flex-basis:41.66%; max-width: 41.66%;}
        .container{
            max-width:1180px;
        }

} 

@media screen and (max-width:980px){
    .container{max-width: 980px;}
      span{font-size: 15px;}
      iframe {width: 467px;}
    .center h3{font-size: 15px; font-weight: 600;}
}
@media screen and (max-width:768px) {
    .container{max-width: 768px;}
    header h1 {
        font-size: 40px;
    }
    .center h3 {
        font-size: 12px;
        font-weight: 600;
    }
    aside .center ul li i {
        width: 27px;
        height: 27px;
    }
    .wrap_2 .tpoint {
        background-size: 177px 250px;
        height: 239px;
        margin-top: 26px;
    }
    .email{font-size: 10px;}
    
    iframe {
        width: 371px;
    }  
    .collspan{display: none;}
    .mob-btn{display: inline;} 
}

@media screen and (max-width:360px){
    .row .col-p-12{flex-basis: 100%; 
                   max-width: 100%;
                   line-height: 35px;
                   margin:30px;
    }

    .container{
      
        max-width:360px;
    }
    .wrap_2 header h1{
        font-size: 25px;

    }  
    .wrap_2 header p span{
        font-size: 35px;
    } 
    
    .wrap_2 .tpoint {
        background-size: 299px 251px;
        height: 340px;
        margin-top: 26px;
    }
    .wrap_2 .para {
         margin-left: 0;}
    .row .col-p-6{flex-basis: 50%; max-width: 50%;}
    
   
    .row .col-p-12{
        flex-basis: 100%;max-width: 100%;
    }
  .box{
        display: flex;
        
    
    }
    .wrap_2 h2 {
       
        font-family: sans-serif;
        font-size: 25px;
    }
    span{
        font-size: 18px;
    }

    .wrap_4 .level i {
       
        margin: 2px 12px;
       
        line-height: 25px;
    }
    aside{flex: 1 0 auto; max-width: 90%; position: absolute; z-index: 1234;}
    


}
